.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  background-color: #333;
  overflow: hidden;
}

